#body {
    margin: 0;
    text-align: center;
}

header {
    height: 5vh;
}

#form {
    padding-top: 8px;
}

input {
    border-radius: 25px;
    height: 2em;
}

.background-day {
    background-image: url('./app/utils/assets/background-day.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-night {
    background-image: url('./app/utils/assets/background-night.avif');
    background-size: cover;
    color: #fff;
}

#current-weather {
    height: 65vh;
}

#forecast {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

#submit {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#current-time {
    padding-top: 15%;
}

#current-time, #city-name {
    font-size: 2em;
}

#main {
    font-size: 1.25em;
}

.temperature-wrapper, .misc-wrapper {
    display: flex;
}

#temperature, #feels-like, #humidity, #wind-speed, #cloud-percent  {
    flex: 1;
    font-size: 1.25em;
}
.forecast-item {
    flex: 1;
    margin: 0 5px;
}

#error {
    margin-top: 50px;
    font-size: 1.25em;
}

@media screen and (orientation:landscape) {
    header {
        height: 10vh;
    }
    
    #current-weather {
        height: 60vh;
    }
    
    #forecast {
        height: 30vh;
    }

    #current-time {
        padding-top: 2%;
    }
}